.Button {
    -fx-background-color:  #e6bf5e;
    -fx-background-radius: 0px;
}

.Button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.Button:focused {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.ButtonMain {
    -fx-background-color:   #f2d691;
    -fx-background-radius: 0px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #e6bf5e;
}

.ButtonMain:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.ButtonMain:focused {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.ComboBox {
    -fx-background-color:  #f2d691;
    -fx-background-radius: 0px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #e6bf5e;
}

.ComboBox:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.ComboBox:focused {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #ab8526;
}

.Label-Books {
    -fx-font-size: 24px;
}

.Label-Books:hover {
    -fx-font-size: 26px;
}

.Label-Books:focused {
    -fx-font-size: 26px;
}

.lblCreateNewAccount {
    -fx-text-fill: #878786;
    -fx-font-size: 16px;
}

#lblCreateNewAccount:hover {
    -fx-text-fill: #4f4f4f;
    -fx-font-size: 17px;
}

#lblCreateNewAccount:focused {
    -fx-text-fill: #4f4f4f;
    -fx-font-size: 17px;
}

.TextField: focused {
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #e6bf5e;
}

.TableColumn {
    -fx-color : #ebe0c7;
}